.table-container {
    margin: 20px;
    text-align: center;
}

.table-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 2px solid #0f0606;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #52f044;
}

.search-input {
    margin-bottom: 10px;
    padding: 8px;
    width: 50%;
    max-width: 300px;
}

.penguin {
    width: 300px;
    display: block;
    margin: 0 auto 20px;
}

